.upload {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
    background-color: #f9f9f9;

    @media (max-width: 768px) {
      flex-direction: column;
      margin: 10px;
    }
  }

  &__input {
    font-size: 16px;
    cursor: pointer;

    &::file-selector-button {
      border: none;
      color: white;
      border-radius: 5px;
      padding: 6px 12px;
      background-color: #4caf50;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }

      &:disabled {
        background-color: #e9e9e9;
        cursor: not-allowed;
      }
    }

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background-color: #e9e9e9;
      cursor: not-allowed;
    }
  }

  &__progress {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px;

    &__inner {
      height: 20px;
      background-color: #4caf50;
      border-radius: 5px 0 0 5px;
    }
  }

  &__error {
    color: red;
    margin-top: 10px;
  }
}
